# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Config (keep token safe!)
config.py
